{% extends "layout.html" %}
{% set active_page = 'stats' %}
{% block title %}Stats{% endblock %}
{% block body %}
<h2>Stats</h2>
<div id="stats">
    <h3>Top 5 Commands</h3>
    <table class="ui very basic table">
        <thead>
            <tr>
                <th>Command</th>
                <th># Uses</th>
            </tr>
        </thead>
        <tbody>
            {% for command in top_5_commands %}
                <tr>
                    <td>{{ command.command }}</td>
                    <td>{{ command.num_uses|number_format }}</td>
                </tr>
            {% endfor %}
    </table>
</div>
<p class="pemote">TODO: Put random stats here. the design here will be BrokeBack though</p>
{% endblock %}
